<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>

    <div class="row">
            <div class="col-6 mx-auto">
                <form action="/products/<%=foundproduct._id%>?_method=PATCH" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="naam">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name of the product" value="<%=foundproduct.name%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the name field.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="img">Image:</label>
                        <input type="text" class="form-control" name="img" id="img" placeholder="Image of the product" value="<%=foundproduct.img%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please fill the image url field.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="paisa">Price:</label>
                        <input type="text" class="form-control" name="price" id="paisa" placeholder="Price of the product" value="<%=foundproduct.price%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the price field.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="desc">Description:</label>
                        <textarea name="desc" id="desc" rows="4" cols="50" placeholder="Description of the product" required><%=foundproduct.desc%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the description field.
                        </div>
                    </div>

                    <button class="btn btn-success btn-sm">Edit Product</button>
                </form>
            </div>
    </div>
    
<script >
    // Example starter JavaScript for disabling form submissions if there are invalid fields

    // iife :- immidiately invoked function expression is function ka koi naam nahi hota jab bhi script chalegi ye function chalne lagega
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
    // () -> function calling
</script>
</body>
</html>